<script setup>
import { ref } from 'vue';

const count = ref(0);
console.log("hello from vue")
</script>

<template>
<section>
      <h4>Counter</h4>
      <div>
        <button @click="count++">+</button>
        <span>{{ count }}</span>
        <button @click="count--">-</button>
      </div>
    </section>
</template>

<style scoped>
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(35, 35, 145);
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 0px 10px;
  color: white;
}

</style>
