<script setup>
import { ref } from 'vue';

const isShow = ref(false)
</script>

<template>
  <h1>Hello test - {{ new Date().toDateString() }}</h1>
  <div id="box" v-if="isShow">{{ isShow }}</div>
  <button @click="isShow = !isShow">{{ isShow ? "Hide" : "Show" }}</button>
</template>

<style scoped>
#box {
  height: 100px;
  width: 100px;
  background-color: black;
  color: antiquewhite;
}
</style>
