html,
body {
  background-color: aquamarine;
  font-size: 25px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(35, 35, 145);
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 0px 10px;
  color: white;
}
